/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, 
footer {
  color: white;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  background-color: #23272a;
}

.container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* DEBUG da eliminare */
.b-head-container.debug {
  height: 200px;
}

.boxed-img.debug,
.boxed-txt.debug {
  height: 200px;
}

.txt-up .container {
  height: 500px;
}

.top-footer > * {
  height: 300px;
}


/* HEADER */
header .top-header {
  background-color: aquamarine;
  padding: 10px 0;
}

header .bottom-header {
  background-color: blue;
  padding: 20px 0;
}

/* top-header */
.t-head {
  font-size: 0.7rem;
  justify-content: space-between;
}

header .logo,
header .menu,
header .login {
  background-color: orange;
  border: 1px dotted black;
  padding: 5px;
}

/* header .logo,
header .login {
  width: 80px;
}

header .menu {
  width: calc(100% - 80px - 80px);
  text-align: center;
} */

header .login {
  text-align: right;
}
/* fine top-header */

/* bottom-header */
.b-head-container {
  background-color: blueviolet;
  border: 1px dotted black;
  max-width: 1000px;
  width: 60%;
  min-width: 450px;
  margin: 0 auto;
}

/* fine bottom-header */
/* fine HEADER */

/* MAIN */
main section:nth-child(even) {
  background-color: lightgray;
}

main section {
  padding: 20px 0;
}



.boxed-img {
  background-color: dodgerblue;
  width: 60%;
}

.boxed-txt {
  background-color: darkkhaki;
  width: 40%;
}

.txt-up .container {
  background-color: green;
  width: 70%;
}
/* fine MAIN */

/* FOOTER */
.top-footer {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #7289da;
}

.top-footer > nav {
  flex-grow: 1;
  background-color: darkorange;
  border: 1px dotted black;
}

 .top-footer .social{
  flex-grow: 1.5;
  background-color: red;
  border: 1px dotted black;
 }

 .bottom-footer {
  justify-content: space-between;
  background-color: aquamarine;
  padding: 10px 0;
  margin-top: 10px;
 }

 footer .logo,
 footer .registrati {
   background-color: darkolivegreen;
   border: 1px dotted black;
   padding: 5px;
 }
 

/* fine FOOTER */

